* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: black;;
}
#container {
  position: absolute;
  top: 10%;
  left: 30%;
  transform: translate(-50%, -50%);
}
h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  white-space: nowrap;
 padding-left: 50rem; 
  color: white;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
}
h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  padding-top: 5rem;
 padding-left: 50rem; 
  color: white;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
}
h3 {
  position: absolute;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  padding-top: 10rem;
 padding-left: 50rem; 
  color: white;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
}
#start {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 22%;
  left: 50%;
}
#startGame {
  font-family: 'Bangers', cursive;
  width: 5rem;
  height: 1.5rem;
  font-size: large;
  letter-spacing: 1px;
  border-radius: 1rem;
  cursor: pointer;
}
#reloadGame {
  font-family: 'Bangers', cursive;
  width: 5rem;
  height: 1.5rem;
  font-size: large;
  letter-spacing: 1px;
  border-radius: 1rem;
  cursor: pointer;
}
#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4d79bc;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Bangers', cursive;
}

#layer1, #layer2, #layer3, #layer4, #player, #angler1, #angler2,#lucky, #projectile, #gears, #hiveWhale, #drone, #smokeExplosion, #fireExplosion, #moonfish, #bulbwhale, #shield, #fireball, #razorfin, #stalker{
  display: none;
}